.checkbox {
  position: fixed;
  left: -100000px;
}

.checkboxStyle {
  display: inline-flex;
  width: 12px;
  height: 12px;
  margin-left: 4px;
  border: 1px solid var(--foreground);
  background: none;
  border-radius: 100px;
  opacity: 0.5;
  position: relative;
}

.checkbox:checked + .checkboxStyle {
  border: 1px solid var(--foreground);
  opacity: 1;
  background-color: var(--foreground);
}

.checkboxIcon {
  position: absolute;
  top: -5px;
  left: 0;
}
