.root {
  display: flex;
  flex-direction: row;
  margin: 0 0 24px;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.root:active::before {
  content: "";
  position: absolute;
  left: -8px;
  top: -8px;
  right: -8px;
  bottom: -8px;
  background-color: var(--foreground);
  opacity: 0.08;
  border-radius: 8px;
  pointer-events: none;
  z-index: -100;
}

.left {
  display: flex;
  align-items: flex-start;
  flex: 0 0 48px;
  margin-left: -8px;
}
.left img {
  max-width: 100%;
  max-height: 100%;
}
.right {
  margin-top: 4px;
  margin-left: 12px;
  flex-grow: 1;
}
.row {
  display: flex;
  margin-bottom: 4px;
}
.name {
  font-weight: 700;
  text-transform: capitalize;
}
.price {
  margin-left: auto;
  flex-grow: 0;
  color: var(--money);
  display: flex;
  align-items: center;
}
.priceNumber {
  margin-right: 4px;
}
.location {
  font-size: 0.8em;
  flex-grow: 1;
}
.time {
  font-size: 0.8em;
  flex-grow: 0;
  text-align: right;
}

.checkbox {
  position: fixed;
  left: -100000px;
}

.checkboxStyle {
  display: inline-flex;
  width: 12px;
  height: 12px;
  margin-left: 4px;
  border: 1px solid var(--foreground);
  background: none;
  border-radius: 100px;
  opacity: 0.5;
  position: relative;
}

.checkbox:checked + .checkboxStyle {
  border: 1px solid var(--foreground);
  opacity: 1;
  background-color: var(--foreground);
}

.checkboxIcon {
  position: absolute;
  top: -5px;
  left: 0;
}
