.root {
  display: flex;
  flex-direction: column;
}

.critters {
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.critter {
  max-width: 420px;
}

.filters {
  margin-top: 12px;
}

.filterRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 4px;
}

.filterRow > span {
  margin-right: 14px;
  width: 52px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.6em;
  text-align: right;
}

.filterRow > input {
  border: 2px solid var(--foreground);
  color: var(--foreground);
  flex-grow: 1;
  padding: 8px;
  margin-right: 16px;
  border-radius: 100px;
  font-size: 16px;
  -webkit-appearance: none;
  background-color: transparent;
}

.filterRow > input::placeholder {
  color: var(--foreground);
  opacity: 0.5;
}

.filterRow > input:focus {
  outline: 0;
}

@media (min-width: 500px) {
  .filters {
    width: 430px;
    margin: 12px auto 24px;
  }

  .critters {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .critter {
    width: 400px;
    margin: 0 24px;
  }
}
