.nav {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
}

.navItems {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navSpacer {
  flex: 0 0 60px;
}

.link {
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 48px;
  display: flex;
  flex-direction: column;
}

.link {
  -webkit-tap-highlight-color: transparent; /* for removing the highlight */
}
