.radioGroup {
  border: 2px solid var(--foreground);
  display: inline-flex;
  border-radius: 100px;
  flex-grow: 0;
}
.radioGroup input {
  display: none;
}
.radioGroup label {
  border-radius: 100px;
  cursor: pointer;
  margin: 2px;
  padding: 6px 8px;
}

.radioGroup label.active {
  color: var(--background);
  background-color: var(--foreground);
}
